*{
    margin:0;
    padding:0;
    font-family:"montserrat",sans-serif;
}

.header{
    height:100px;
    background:#a4e471;
    padding: 0 20px;
    color: rgb(14, 13, 13);
}

.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase
}


.menu{
    float:right;
    line-height:100px
}

.menu a{
    color: rgb(10, 9, 9);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float:right;
}

.show-menu-btn{
    line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color:#f3f3f3;

}

#chk{
    position:absolute;
    visibility:hidden:
    z-index: -1111;
}

@media screen and(max-width:800px)
{
    .show-menu-btn,.hide-menu-btn{
        display:block;
    }
    .menu{
        position:fixed;
        width:100%;
        height:100vh;
        background:#333;
        right :-100%;
        top: 0;
        text-align: center;
        padding:80px 0;
        line-height: normal;
        transition: 0.7s;
    
    }
    .menu a{
        display: block;
        padding: 20px;  
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}


.img{
    width:20%;
    max-width: 700px;
}




.site-header 
{
    background-color: #dfe7af;
    color: #0d0e0d;
    height: 100vh;
    height:1800px;
    font-family:monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    line-height: 280%;
    background: url('../img.jpg') no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}

.site-header-content{
    margin:100px
}

.profile-pic {
    border-radius: 50%;
    height:250px;
    width: 250px; 
    align-items: center;
    box-shadow: #000 2px 5px 5px
    
}

.anchor-link {
    color: #67241f;
}

body {
    margin: 0
}

.instagram-link{
    color: #67241f;
}

